@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none;
}

img {
  position:absolute;
  width:100vw;
  height:100vh;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity:80%;
  }